.background {
  color: white;
}

.slide-in {
  animation: slideInAnimation 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideInAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
